<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Here you will get help about my god damn application
  <a href="http://railstutorial.org/help">God damn help appilication</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>